.artist
  .artist_name
    = artist.name
    - if can? :update, artist
      %span.small_text= link_to t(:edit), edit_admin_artist_path(artist)
  - if artist.avatar?
    .artist_image= image_tag artist.avatar.url(:large)
  .artist_bio= raw artist.bio

