@import 'variables';
.artist, .project {
  border-bottom: 1px solid $site-beige;
  padding-bottom: 25px;
  margin-bottom: 25px;
  .artist_name, .title {
    a {
      color: $site-orange;
    }
    span.small_text {
      font-size: 12px;
      a {
        color: $moks-orange-light;
        &:hover {
          font-weight: bold;
          color: $moks-orange;
        }
      }
    }
    color: $dark;
    font-size: 22px;
    font-family: 'Helvetica Neue LT Std', Helvetica, Roboto, sans-serif;
  }
  .project_events {
//    margin-left: 50px;
//    margin-right: 50px;
    
    .project_event {
      float: left;
      &.clr {
        clear: left;
      }
      .project_title, .project_title a {
        font-family: 'Helvetica Neue LT Std', Helvetica, Roboto, sans-serif;
        font-size: 16px;
        line-height: 18px;
        color: $site-olive;
      }
      .timestamp {
        font-family: 'Helvetica Neue LT Std', Helvetica, Roboto, sans-serif;
        font-size: 14px;
        line-height: 16px;
        color: $site-blue;
      }
    }
  }
  .sub_heading {
    font-size: 18px;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: $moks-orange-light;
    font-family: 'Helvetica Neue LT Std', Helvetica, Roboto, sans-serif;
  }
  .artist_bio, .project_description {

    clear: left;
    margin-top: 15px;
    font: 18px/25px 'Helvetica Neue LT Std', Helvetica, Roboto, sans-serif;
    color: #000;
    p {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  .artist_image {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .more_link {
    clear: left;
    color: $site-orange;
    a {
      color: $site-orange;
    }
    margin-bottom: 40px;
  }
}

.visits {
  .heading {
     color: $dark;
    font-size: 18px;
    font-family: 'Helvetica Neue LT Std', Helvetica, Roboto, sans-serif;
    padding-bottom: 3px;
    color: $site-olive2;
    font-weight: bold;
    border-bottom: 1px solid $site-beige;
  }
  
  .smaller_heading {
   color: $dark;
   font-size: 15px;
   font-family: 'Helvetica Neue LT Std', Helvetica, Roboto, sans-serif;
   padding-bottom: 3px;
   color: $site-olive2;
   font-weight: bold;
  
  }
  .visit {
    padding-top: 25px;
    .date {
      color: $site-blue;
      margin-bottom: 5px;
      font-size: 16px;

      font-family: 'Helvetica Neue LT Std', Helvetica, Roboto, sans-serif;
    }
    .description {
      font-family: 'Helvetica Neue LT Std', Helvetica, Roboto, sans-serif;
    }
    .funder_credit {
      font-family: 'Helvetica Neue LT Std', Helvetica, Roboto, sans-serif;
      font-size: 14px;
      color: $site-olive;
    }
    .gallery_left {
      width: 600px;
      margin-right: 10px;
    }
    .events {
      clear: left;
      margin-top: 2rem;
      ul {
        padding-left: 0px;
        li {
          list-style-type: none;
          font-family: 'Helvetica Neue LT Std', Helvetica, Roboto, sans-serif;
          font-size: 14px;
          margin-bottom: 10px;
          a {
            color: #000;
            &:hover {
              color: $site-orange;
            }
          }
        }
      }
    }
  }
}

.residency_list {
  .artists_year {
    margin-bottom: 40px;
    .year {
      font-size: 19px;
      color: #000;
      font-weight: bold;
      margin-bottom: 15px;
      font-family: 'Helvetica Neue LT Std', Helvetica, Roboto, sans-serif;
    }

    .artist_visit {

      color: #000;
      font-family: 'Helvetica Neue LT Std', Helvetica, Roboto, sans-serif;
      font-size: 18px;
      line-height: 27px;

      a {
        color: $site-orange;
        font-size: 18px;
        line-height: 27px;
        text-decoration: none;
      }
      span.country {

      }
      span.residency_type {

      }
      span.residency_dates {
        color: $site-blue;
        font-family: 'Helvetica Neue LT Std', Helvetica, Roboto, sans-serif;
        font-size: 14px;
        margin-bottom: 0px;
      }
    }
  }
}