@import 'variables';

.posts {
  .post {
    margin-bottom: 40px;
    font-family: 'Helvetica Neue LT Std', Helvetica, Roboto, sans-serif;
    .timestamp {
      color: $site-blue;
      font-size: 18px;
    }
    .title {
      color: #000;
      font-size: 24px;
      a {
        color: #000;
        &:hover {
          color: $site-orange;
        }
      }
    }
    .body {
      font-size: 15px;
      line-height: 28px;
    }
    .more_link {
      color: $site-orange;
      a {
        color: $site-orange;
      }
    }
  }
}