.container
  .sixteen.columns
    .two.columns.alpha.leader_logo
      = image_tag 'eu_flag.png', height: 75
    .six.columns.leader_logo
      = image_tag 'interreg.png', height: 75
    .eight.columns.omega.moks_logo
      .moks_meta= image_tag 'footer-logo.png'
      .moks_meta.address
        MTÜ Mooste KülalisStuudio
        %br/
        Mooste 64616
        %br/
        Põlva Maakond
        %br/
        Estonia
        %br/
        Reg kood 80139485