.container
  .sixteen.columns
    .eight.columns.alpha.leader_logo= image_tag 'leader_logo.png'
    .eight.columns.omega.moks_logo
      .moks_meta= image_tag 'footer-logo.png'
      .moks_meta.address
        MTÜ Mooste KülalisStuudio
        %br/
        Mooste 64616
        %br/
        Põlva Maakond
        %br/
        Estonia
        %br/
        Reg kood 80139485