
- image_array.each do |i|
  .img
    = link_to image_tag(i.filename.url(:standard)), i.filename.url, rel: :lazybox
    .thumb= image_tag i.filename.url(:box)

= content_for :jquery do
  :plain
    $('.inline_gallery').slick({infinite: true,
      slidesToShow: 1,
      adaptiveHeight: true,
      dots: true,
      customPaging: function(slick,index) {
         return slick.$slides.eq(index).find('.thumb').html();
      },
      arrows: true,
      slide: '.img',
      variableWidth: false,
      autoplay: true,
      autoplaySpeed: 2400,
      slidesToScroll: 1,
    });
