
.title= link_to project.name, project
- unless project.description.blank?
  .project_description= raw project.description
- unless project.events.empty?
  .project_events
    .sub_heading= t :events
    - project.events.each_with_index do |e, i|
      .project_event.three.columns{:class => i % 4 == 0 ? "alpha clr" : false}= render :partial => 'project_event' , :locals => {:event => e}  
