/**
 * admin.css
 *
 *= require_self
 *= require_tree ./admin
 *= require jquery.ui.datepicker
 *= require jquery.ui.tabs 
 */

body.edit {
#language-tabs {
  clear: left;
  margin-top: 30px;
}

.ui-tabs-nav, .ui-tabs .ui-tabs-panel {
  font-size: 12px;
  }
}