/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./all
 *= require layout
 *= require skeleton1200

*/

@import 'variables';


@font-face {
  font-family: 'HelveticaNeueLTStd';
  src: url('helveticaneueltstd-lt-webfont.eot');
  src: url('helveticaneueltstd-lt-webfont.eot?#iefix') format('embedded-opentype'),
    url('helveticaneueltstd-lt-webfont.svg#helveticaneueltdstd') format('svg'),
    url('helveticaneueltstd-lt-webfont.woff') format('woff'),
    url('helveticaneueltstd-lt-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  background: url(image_path('bg-gradient.png')) repeat-x top !important;
  padding-top: 50px !important;
}

a {
    text-decoration: none;
    position: relative;
}
a:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}
.logo a:after, header a:after {
  border: none;
}

ul.nav {
  li {
    a, a:visited {
      font-family: 'HelveticaNeueLTStd';
      color: $site-olive;
      font-size: 14px;
      font-style: italic;
      text-decoration: none;

      &:hover {
        color: $site-orange;
        border-bottom: 1px solid $site-orange;
        padding-bottom: 2px;
      }
    }
  }
}

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/***** fix superfish *****/

/*** ESSENTIAL STYLES ***/

.sf-menu, .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sf-menu li {
  margin-right: 25px;
  margin-bottom: 15px;
  position: relative;
}
.sf-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}
.sf-menu > li {
  float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
  display: block;
}

.sf-menu a {
  display: block;
  position: relative;
}
.sf-menu ul ul {
  top: 0;
  left: 100%;
}


.sf-menu {
  float: left;
  margin-bottom: 1em;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  a {
    display: block;
    position: relative;
  }
  ul {
    margin-top: 0px;
    padding-top: 5px;

    background-color: $site-beige;
    li {
      &:hover {
        padding-top: 0px;
        padding-bottom: 1px;
      }
    }
  }
  li {
    white-space: nowrap;
    -webkit-transition: background .2s;
    transition: background .2s;
    padding-bottom: 2px;
    &:hover {
      padding-top: 0px;
    }

  }
}


header {

  .header_wrapper {
    border-bottom: 5px solid $site-beige;
 
    margin-bottom: 25px; 
  }
  .title {  
    margin: 40px 0px 10px 0px;
    font-family: 'HelveticaNeueLTStd';
    font-size: 48px;
    font-style: italic;
    a {
      color: $dark;
      text-decoration: none;
    }
  }
  nav {
    ul {
      li {

        margin-right: 10px;
        a, a:visited {
          font-family: 'HelveticaNeueLTStd';
          color: $site-olive;
          font-size: 24px;
          font-style: italic;
          text-decoration: none;

          &:hover {
            color: $site-orange;
            border-bottom: 1px solid $site-orange;
          }
        }
        &:hover {
          padding-bottom: 1px;
        }

      }
    }
  }
}
.container {
  border-bottom: 5px solid $site-beige;
}