/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./all
 *= require layout
 *= require skeleton1200
 *= require flexslider
*/

@import 'variables';



//@font-face {
//  font-family: "'Helvetica Neue LT Std', Helvetica, Roboto, sans-serif;";
//
//  src: url(font-path('inconsolata.otf')) format ('opentype');
////  src: url(font-path('helveticaneueltstd-lt-webfont.eot?#iefix')) format ('embedded-opentype'),
////       url(font-path('helveticaneueltstd-lt-webfont.ttf')) format('truetype'),
////       url(font-path('helveticaneueltstd-lt-webfont.woff')) format('woff'),
////       url(font-path('helveticaneueltstd-lt-webfont.svg#helveticaneueltdstd')) format('svg');
//  font-weight: normal;
//  font-style: normal;
//}


body {
  background: url(image_path('bg-gradient.png')) repeat-x top !important;

  padding-top: 50px !important;
}

p, .alert  {
  font-family: 'Helvetica Neue LT Std', Helvetica, Roboto, sans-serif;
  a {
    color: $moks-brown;
  }
}
a {
    text-decoration: none;
    position: relative;
}

.system {
  ul {
    padding: 0px;
    margin: 0px;
    li {
      list-style-type: none;
    }
  }
}
.mob {
  display: none;
}

.mobile_sidebar {
  display: none;
}
.logo {
  background: url(image_path("logo-moks.png")) no-repeat 0px 18px;
  width: 180px;
  height: 225px;
  .language {
    span.m {
      display: none;
    }
    
    float: left;
    margin-left: 25px;
    z-index: -3;
    
    .est {
      float: left;
      margin: 0px 5px 0px 3px;
    }
    .eng {
      float: left;
      margin-top: -2px;
    }
    .rus { 
      float: left;
      margin-top: -2px;
      margin-left: 3px;
    }
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .umbrella {
    margin-top: -32px;
    float: left;
  }
}

.logo a:after, header a:after {
  border: none;
}

.hidden {
  display: none;
}
ul.nav {
  li {
    a, a:visited {
//      font-family: 'Helvetica Neue LT Std', Helvetica, Roboto, sans-serif;  
      font-family: 'Helvetica Neue LT Std', Helvetica, Roboto, sans-serif;
      
      color: $site-olive;
      font-size: 14px;
      font-style: italic;
      text-decoration: none;

      &:hover {
        color: $site-orange;
        border-bottom: 1px solid $site-orange;
        padding-bottom: 2px;
      }
    }
  }
}

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}


header {

  .header_wrapper {
    border-bottom: 5px solid $site-beige;
 
    margin-bottom: 25px; 
  }
  .title {  
    margin: 40px 0px 10px 0px;
    font-family: 'Helvetica Neue LT Std', Helvetica, Roboto, sans-serif;
    font-size: 48px;
    font-style: italic;
    a {
      color: $dark;
      text-decoration: none;
    }
  }
  nav {
    select {
      display: none;
    }
    ul {
      li {
        &.children {
          height: 30px;
          background: url(image_path('menu_down.png')) center 24px no-repeat;
        }
        margin-right: 10px;
        a, a:visited {
//          font-family: 'Helvetica Neue LT Std', Helvetica, Roboto, sans-serif;
          font-family: 'Helvetica Neue LT Std', Helvetica, Roboto, sans-serif;
          color: $site-olive;
          font-size: 22px;
          line-height: 20px;
          font-style: italic;
          text-decoration: none;

          &:hover {
            color: $site-orange;
            border-bottom: 1px solid $site-orange;
          }
        }
        &:hover {
          padding-bottom: 2px;
        }

      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .logo {
    background: url(image_path("logo-moks-medium.png")) no-repeat 0px 18px;
    width: 160px;
    height: 200px;
    .language {
      margin-left: 4px;
      select {
        display: none;
      }
    }
    
  }
  
}

  
@media only screen and (max-width: 767px) {
  .mobile_sidebar, .mob {
    display: block;
  }
  .application.home {
    padding-top: 10px !important;
  }
  .mob {
    float: left;
    .title {  
      margin: 40px 0px 10px 0px;
      font-family: 'Helvetica Neue LT Std', Helvetica, Roboto, sans-serif;
      font-size: 48px;
      font-style: italic;
      a {
        color: $dark;
        text-decoration: none;
      }
    }
  }
  
  .system { 
    display: none;
  }
  .logo {
    float: left;
    background: url(image_path("logo-moks-small.png")) no-repeat 0px 28px;
    width: 100px;
    height: 115px;
    .language {
      margin-left: 0px;
      padding-bottom: 5px;
      img {
        display: none;
      }
      .est { margin-top: -2px !important; }
      
      span.m {
        display: inline;
        font-family: 'Helvetica Neue LT Std', Helvetica, Roboto, sans-serif;
        a {
          color: $site-olive;
          font-size: 13px;
        }
        border-right: 1px solid $site-olive2;
        padding-right: 3px;
      }
      .rus span.m {
        border-right: none; padding-right: 0px;
      }
    }

  }
  .sidebar {
    display: none;
  }
  
  .header_wrapper {
    .title {
      display: none;
    }
    nav {
      select {
        display: block;
      }
      ul {
        display: none;
      }
    }
  }
}

/***** fix superfish *****/

/*** ESSENTIAL STYLES ***/

.sf-menu, .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sf-menu li {
  margin-right: 25px;
  margin-bottom: 3px;
  position: relative;
}
.sf-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}
.sf-menu > li {
  float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
  display: block;
  border-top: 5px solid $site-orange;
  margin-top: 4px;

}

.sf-menu a {
  display: block;
  position: relative;
}
.sf-menu ul ul {
  top: 0;
  left: 100%;
}


.sf-menu {
  float: left;
  margin-bottom: 1em;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  
  .sf-sub-indicator {
    display: none;
  }
  a {
    display: block;
    position: relative;
  }
  ul {
    margin-top: 0px;
    padding-top: 5px;

    background-color: $site-beige;
    li {
      margin-bottom: 3px;
      padding-left: 5px;
      &:hover {
        padding-bottom: 2px;
      };
      a {
        font-size: 16px;
        line-height: 18px;
        &:hover {
          padding-top: 0px;
          padding-bottom: 0px;
          text-decoration: underline;
          border-bottom: none;
        }
      }

    }
  }
  li {
    white-space: nowrap;
    -webkit-transition: background .2s;
    transition: background .2s;
    padding-bottom: 2px;
    &:hover {
      padding-top: 0px;
    }

  }
}



.container {
  border-bottom: 5px solid $site-beige;
}

.inline_gallery {
  img {
    max-width: 100%;
    height: auto;
  }
}