$moks-light: #F7F5F0;
$moks-hover: #EAE8E0; 
$moks-brown: #AF8E36;
$moks-orange: #e14313;
$moks-orange-light: #ff9999;
$cms-green: #7e9c76;
$cms-color2: #927782;
$dark: #333300;
$site-olive: #716e51;
$site-olive2: #b7b4a9;
$site-orange: #cc3300;
$site-beige: #eceae4;
$site-blue: #4886bd;
$light-background: #efede6;
$moks-font:  'Helvetica Neue LT Std', Helvetica, Roboto, sans-serif;